#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 64px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
  opacity: 0.8;
}

h2 {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0;
}

form {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color: white;
  border-radius: 5px;
}

label {
  font-size: 0.8em;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

button {
  background-color: white;
  height: 100%;
  margin-top: 15px;
  margin-right: 1%;
}
